#bg-video {
    pointer-events: none;
  }
  
  <style>
  h1 {
    color: #000000; /* Set the text color to black */
    opacity: 0.5; /* Set the opacity to 50% */
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
